<body>

  <!-- エラーメッセージ -->
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @user.errors.count %>error</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <!-- プロフィール -->
    <div class="row">
      <div class="col-lg-3">
        <h2>User info</h2>
        <%= form_for(@user) do |f| %>
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
        <% end %>
      	<table class="table">
          <thead>
            <th></th>
            <th></th>
          <thead>
      	  <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
      	  	<th><%= @user.introduction %></th>
        	</tr>
        </table>
        <%= link_to edit_user_path(@user.id), class: 'btn btn-default form-control' do %>
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        <% end %>
        <!-- New Book -->
        <h2>New book</h2>
        <%= form_for(@new_book) do |b| %>
          <h4>Title</h4>
          <%= b.text_field :title, class: 'form-control'  %>
          <h4>Opinion</h4>
          <%= b.text_area :body, class: 'form-control'  %>
          <br>
          <%= b.submit 'create book', class: "btn btn-primary form-control" %>
        <% end %>
      </div>
  <!-- Books -->
      <div class="col-lg-9">
        <h2>Books</h2>
        <table class="table">
          <thead>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </thead>
          <% @books.each do |b| %>
          <tr>
            <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
            <td><%= link_to(b.title, book_path(b.id))  %></td>
            <td><%= b.body %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</body>


