<h1>マイページ画面</h1>

	<div class="body">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
        <span>Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="">
                <%= link_to "Home", root_path %>
              </li>
              <li class="">
                <%= link_to 'Users', users_path %>
              </li>
              <li class="">
                <%= link_to 'Books', books_path %>
              </li>
              <li class="">
                <%= link_to 'logout', destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="">
                <%= link_to "Home", root_path %>
              </li>
              <li class="">
                <%= link_to 'About', home_about_path %>
              </li>
              <li class="">
                <%= link_to 'sign up', new_user_registration_path %>
              </li>
              <li class="">
                <%= link_to 'login', user_session_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
		<div class="container">
			<p id="notice">Welcome! You have signed up successfully.</p>
			<div class="row">
			  <div class="col-xs-3">
	  		  <h2>User info</h2>
          <%= form_for(@user) do |f| %>
            <div class="form-group">
              <div class="user-edit-image">
                <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
              </div>
            </div>
          <% end %>

	      	<table class="profile">
	      	  <tr>
	    	      <td>name</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
	    	      <td>introduction</td>
  	    	  	<td><%= @user.introduction %></td>
  	      	</tr>
	        </table>
	<div class="row">
　　 <% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
    <% end %>
	</div>
  <h2>New book</h2>
  <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="Tlmy0xN32D22nEjve4730wd28w5bxAfiUjfCWZiroL+0QC1E8N1vgkeIafBKpSipMIX7eYUUMh2Fh9lKnF8ysg==">
  	<div class="field row">
    	<label for="book_title">Title</label>
    	<input class="col-xs-12 book_title" type="text" name="book[title]" id="book_title">
  	</div>

  	<div class="field row">
    	<label for="book_opinion">Opinion</label>
    	<textarea class="col-xs-12 book_body" name="book[body]" id="book_body"></textarea>
  	</div>
  	<div class="actions row">
    	<input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
  	</div>
	</form>
	</div>
  <div class="col-xs-9">
    <h2>Books</h2>
    <table class="table table-hover table-inverse">
  <thead>
    <tr> 
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
  </div>
</div>
      </div>
    </div>