<h1>マイページ画面</h1>
<body>

  <!-- エラーメッセージ -->
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @user.errors.count %>error</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>User info</h2>
  <%= form_for(@user) do |f| %>
    <div class="form-group">
      <div class="user-edit-image">
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
      </div>
    </div>
  <% end %>

	<table class="profile">
	  <tr>
      <td>name</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>introduction</td>
	  	<td><%= @user.introduction %></td>
  	</tr>
  </table>
	<div class="row">
      <p><%= link_to "プロフィール編集", edit_user_path(@user.id), class: "pull-right" %></p>
	</div>

    <!-- New Book -->
    <h2>New book</h2>
    <%= form_for(@new_book) do |b| %>
      <h4>Title</h4>
      <%= b.text_field :title %>
      <h4>Opinion</h4>
      <%= b.text_field :body %>
      <%= b.submit 'create book' %>
    <% end %>

<!-- Books -->
  <table>
    <h2>Books</h2>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
      <th></th>
    </tr>

    <% @books.each do |b| %>
    <tr>
      <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
      <td><%= link_to(b.title, book_path(b.id))  %></td>
      <td><%= b.body %></td>
    </tr>
    <% end %>
  </table>
</body>