<body>
<!-- header テンプレート-->
<%= render '/list' %>

    <!-- プロフィール -->
  <div class="profile_container">
    <h2>User info</h2>
    <%= form_for(@user) do |f| %>
      <div class="form-group">
        <div class="user-edit-image">
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
        </div>
      </div>
    <% end %>
    <table class="profile">
      <tr>
        <td>name</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= @user.introduction %></td>
      </tr>
    </table>
    <div class="row">
  　　 <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
      <% end %>
    </div>

    <!-- New Book -->
    <h2>New book</h2>
    <%= form_for(@new_book) do |b| %>
      <h4>Title</h4>
      <%= b.text_field :title %>
      <h4>Opinion</h4>
      <%= b.text_field :body %>
      <%= b.submit 'create book' %>
    <% end %>
  </div>

    <!-- book detail -->
  <table>
  	<h2>Book detail</h2>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
    	<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
    	<td><%= link_to @book.title, book_path %></td>
    	<td><%= @book.body %></td>
    	<td><%= link_to 'edit', edit_book_path %></td>
	  	<td><%= link_to 'destroy', books_path %></td>
    </tr>
  </table>
</body>