<body>
  <!-- エラーメッセージ -->
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @user.errors.count %>error</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <!-- プロフィール -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h2>User info</h2>
        <%= form_for(@user) do |f| %>
          <div class="form-group">
            <div class="user-edit-image">
              <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
              <br>
            </div>
          </div>
        <% end %>
        <br>
        <br>
        <table class="table">
          <thead>
            <th></th>
            <th></th>
          <thead>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </table>
    　　 <% if @user.id == current_user.id %>
          <%= link_to edit_user_path(@user.id), class: 'btn btn-default form-control' do %>
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          <% end %>
        <% end %>

        <!-- New Book -->
        <h2>New book</h2>
        <%= form_for(@new_book) do |b| %>
          <h4>Title</h4>
          <%= b.text_field :title, class: 'form-control' %>
          <h4>Opinion</h4>
          <%= b.text_area :body, class: 'form-control' %>
          <br>
          <%= b.submit 'create book', class: "btn btn-primary form-control" %>
        <% end %>
      </div>

    <!-- book detail -->
      <div class="col-lg-9">
        <table class="table">
        	<h2>Book detail</h2>
          <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tr>
          	<td>
              <%= link_to user_path(@book.user) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %><br><br><br>
                <%= @user.name%>
              <% end%>
            </td>
          	<td><%= link_to @book.title, book_path %></td>
          	<td><%= @book.body %></td>
            <% if @user.id == current_user.id %>
              <td><%= link_to 'edit', edit_book_path %></td>
      	  	  <td><%= link_to 'destroy', book_path(@book.id), method: :delete %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>