<body>
  <!-- エラーメッセージ -->
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @user.errors.count %>error</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <!-- プロフィール -->
  <div class="profile_container">
    <h2>User info</h2>
    <%= form_for(@user) do |f| %>
      <div class="form-group">
        <div class="user-edit-image">
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
        </div>
      </div>
    <% end %>
    <table class="profile">
      <tr>
        <td>name</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= @user.introduction %></td>
      </tr>
    </table>
    <div class="row">
  　　 <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
      <% end %>
    </div>

    <!-- New Book -->
    <h2>New book</h2>
    <%= form_for(@new_book) do |b| %>
      <h4>Title</h4>
      <%= b.text_field :title %>
      <h4>Opinion</h4>
      <%= b.text_field :body %>
      <%= b.submit 'create book' %>
    <% end %>
  </div>

    <!-- book detail -->
  <table>
  	<h2>Book detail</h2>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
    	<td>
        <%= link_to user_path(@book.user) do %>
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %><br>
          <%= @user.name%>
        <% end%>
      </td>
    	<td><%= link_to @book.title, book_path %></td>
    	<td><%= @book.body %></td>
      <% if @user.id == current_user.id %>
        <td><%= link_to 'edit', edit_book_path %></td>
	  	  <td><%= link_to 'destroy', book_path(@book.id), method: :delete %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  </table>
</body>